@import './public/css/core/variables';
@import './public/css/core/mixins';

.sfgov-subsection-header {
  margin-bottom: 40px;
  h3 {
    color: $color-blue;
    font-size: 2.4rem;
    font-family: "Merriweather","Georgia",sans-serif;
    font-weight: bold;
  }
}