@mixin antialiasing($type:antialiased) {
  /* antialiased, none, subpixel-antialiased*/
  -webkit-font-smoothing: $type;
  font-smoothing: $type;
  font-smooth: always;
}

@mixin rubik {
  font-family: "Rubik", sans-serif;
}

@mixin noto-sans-tc {
  font-family: "Noto Sans TC", sans-serif;
}

@mixin fs-title-5 {
  font-size: 20px;
  font-weight: $fw-medium;
  line-height: 27px;
  &.zh-TW {
    font-weight: $fw-bold;
    line-height: 30px;
    letter-spacing: 2px;
    @include antialiasing;
  }
}

@mixin fs-body-short {
  font-size: 17px;
  font-weight: $fw-regular;
  line-height: 24px;
  &.zh-TW {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
  }
}
