{% for group in groups %}
  <h2>{{ group.title }}</h2>
  <ul class="sf-colors">
    {% for color in group.colors %}
      <li>
        <span class="sf-swatch" style="background-color: {{ colors[color] }};"></span>
        <span class="sf-label">
          ${{ color }}
          <br>
          <code>{{ colors[color] }}</code>
        </span>
      </li>
    {% endfor %}
  </ul>
{% endfor %}

<ul class="sf-colors">
  {% for name, color in colors | dictsort %}
    <li>
      <span class="sf-swatch" style="background-color: {{ color }};"></span>
      <span class="sf-label">
        ${{ name }}
        <br>
        <code>{{ color }}</code>
      </span>
    </li>
  {% endfor %}
</ul>
