@import './public/css/core/variables';
@import './public/css/core/mixins';

.sfgov-container--content-right {
  background-color: $color-gray-lightest;
  position: relative;
  .sfgov-sidebar-container {
    padding: 25px;
    .field {
      >&:last-child {
        margin-bottom: 25px;
      }
    }
    .paragraph {
      margin-bottom: 25px;
    }
  }
  .sidebar--right {
    .phone--container {
      .sfgov-icon-phone {
        display: none;
      }
      .phone{
        margin-left: 0;
      }
    }
  }
  p {
    margin: 0;
    padding: 0;
    color: $color-gray;
    font-size: 17px;
    line-height: 26px;
  }
  h3 {
    margin-top: 0;
    color: $color-blue-darker;
  }
  h4.field__label {
    @include source-sans-pro;
    color: $color-gray-dark;
    font-weight: 600; // semi-bold
    font-size: 20px;
    line-height: 26px;
    margin-top: 0;
  }
}
.address-in-paragraph {
  .eck-entity-address-field {
    display: none;
  }
}
.sfgov-container--sidebar-divider{
  min-height: 25px;
  background-color: white;
}
