

<form>
  <div class="form-group field-s06" data-id="will_the_work_involve">
    <fieldset>
      <legend class="control-label">Will the work involve any of the following?</legend>
      <div class="field-wrapper">
        
          <label>
            <input type="checkbox" value="foundation" data-formtype="s06" name="work_involves[]">
            <span class="inline-label">Repairing or replacing the building&#39;s foundation</span>
          </label>
        
          <label>
            <input type="checkbox" value="driveway" data-formtype="s06" name="work_involves[]">
            <span class="inline-label">Building a driveway or auto runway</span>
          </label>
        
          <label>
            <input type="checkbox" value="street-space" data-formtype="s06" name="work_involves[]">
            <span class="inline-label">Using street space</span>
          </label>
        
          <label>
            <input type="checkbox" value="facade" data-formtype="s06" name="work_involves[]">
            <span class="inline-label">Changing the front facade</span>
          </label>
        
          <label>
            <input type="checkbox" value="sidewalk" data-formtype="s06" name="work_involves[]">
            <span class="inline-label">Repairing or changing the sidewalk above a basement</span>
          </label>
        
        <div class="help-block with-errors"></div>
      </div>
    </fieldset>
  </div>
</form>

