

<form>
  <div class="form-group field-s06" data-id="will_the_work_involve">
    <fieldset>
      <legend class="control-label">Will the work involve any of the following?</legend>
      <div class="field-wrapper">
          <label for="will_the_work_involve_0">
            <input type="checkbox" id="will_the_work_involve_0" value="0" data-formtype="s06" name="will_the_work_involve" required="">
            <span class="inline-label">Repairing or replacing the building&#x27;s foundation</span>
          </label>
          <label for="will_the_work_involve_1">
            <input type="checkbox" id="will_the_work_involve_1" value="1" data-formtype="s06" name="will_the_work_involve" required="">
            <span class="inline-label">Building a driveway or auto runway</span>
          </label>
          <label for="will_the_work_involve_2">
            <input type="checkbox" id="will_the_work_involve_2" value="2" data-formtype="s06" name="will_the_work_involve" required="">
            <span class="inline-label">Using street space</span>
          </label>
          <label for="will_the_work_involve_3">
            <input type="checkbox" id="will_the_work_involve_3" value="3" data-formtype="s06" name="will_the_work_involve" required="">
            <span class="inline-label">Changing the front facade</span>
          </label>
          <label for="will_the_work_involve_4">
            <input type="checkbox" id="will_the_work_involve_4" value="4" data-formtype="s06" name="will_the_work_involve" required="">
            <span class="inline-label">Repairing or changing the sidewalk above a basement</span>
          </label>
        <div class="help-block with-errors"></div>
      </div>
    </fieldset>
  </div>
</form>

