


  <h2>Black &amp; White</h2>
  <ul class="sf-colors">
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #212123;"></span>
        <span class="sf-label">
          $black
          <br>
          <code>#212123</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #ffffff;"></span>
        <span class="sf-label">
          $white
          <br>
          <code>#ffffff</code>
        </span>
      </li>
    
  </ul>

  <h2>Gray</h2>
  <ul class="sf-colors">
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #f8f8f8;"></span>
        <span class="sf-label">
          $grey-1
          <br>
          <code>#f8f8f8</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #f1f1f1;"></span>
        <span class="sf-label">
          $grey-2
          <br>
          <code>#f1f1f1</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #e9e9e9;"></span>
        <span class="sf-label">
          $grey-3
          <br>
          <code>#e9e9e9</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #d3d3d3;"></span>
        <span class="sf-label">
          $grey-4
          <br>
          <code>#d3d3d3</code>
        </span>
      </li>
    
  </ul>

  <h2>Blue</h2>
  <ul class="sf-colors">
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #edf4f7;"></span>
        <span class="sf-label">
          $blue-1
          <br>
          <code>#edf4f7</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #a9d6ea;"></span>
        <span class="sf-label">
          $blue-2
          <br>
          <code>#a9d6ea</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #4f66ee;"></span>
        <span class="sf-label">
          $bright-blue
          <br>
          <code>#4f66ee</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #0c1464;"></span>
        <span class="sf-label">
          $dark-blue
          <br>
          <code>#0c1464</code>
        </span>
      </li>
    
  </ul>

  <h2>Red</h2>
  <ul class="sf-colors">
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #f5e9e5;"></span>
        <span class="sf-label">
          $red-1
          <br>
          <code>#f5e9e5</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #efcabb;"></span>
        <span class="sf-label">
          $red-2
          <br>
          <code>#efcabb</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #c9563a;"></span>
        <span class="sf-label">
          $red-3
          <br>
          <code>#c9563a</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #bc4427;"></span>
        <span class="sf-label">
          $red-4
          <br>
          <code>#bc4427</code>
        </span>
      </li>
    
  </ul>

  <h2>Green</h2>
  <ul class="sf-colors">
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #e9f7ec;"></span>
        <span class="sf-label">
          $green-1
          <br>
          <code>#e9f7ec</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #c0e2c5;"></span>
        <span class="sf-label">
          $green-2
          <br>
          <code>#c0e2c5</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #00896d;"></span>
        <span class="sf-label">
          $green-3
          <br>
          <code>#00896d</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #1b674d;"></span>
        <span class="sf-label">
          $green-4
          <br>
          <code>#1b674d</code>
        </span>
      </li>
    
  </ul>

  <h2>Purple</h2>
  <ul class="sf-colors">
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #edebf6;"></span>
        <span class="sf-label">
          $purple-1
          <br>
          <code>#edebf6</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #cccced;"></span>
        <span class="sf-label">
          $purple-2
          <br>
          <code>#cccced</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #7d61b3;"></span>
        <span class="sf-label">
          $purple-3
          <br>
          <code>#7d61b3</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #5a3e94;"></span>
        <span class="sf-label">
          $purple-4
          <br>
          <code>#5a3e94</code>
        </span>
      </li>
    
  </ul>

  <h2>Yellow</h2>
  <ul class="sf-colors">
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #f8f1df;"></span>
        <span class="sf-label">
          $yellow-1
          <br>
          <code>#f8f1df</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #f9e3a3;"></span>
        <span class="sf-label">
          $yellow-2
          <br>
          <code>#f9e3a3</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #f4c435;"></span>
        <span class="sf-label">
          $yellow-3
          <br>
          <code>#f4c435</code>
        </span>
      </li>
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #e7b22e;"></span>
        <span class="sf-label">
          $yellow-4
          <br>
          <code>#e7b22e</code>
        </span>
      </li>
    
  </ul>


<h2>Uncategorized</h2>
<ul class="sf-colors">
  
    
    
      
        
      
    
      
    
      
    
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
        
      
    
      
    
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
        
      
    
      
    
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
        
      
    
      
    
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
        
      
    
      
    
      
    
      
    
      
    
      
    
    
  
    
    
      
        
      
    
      
    
      
    
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
    
      
    
      
    
    
      <li class="sf-color">
        <span class="sf-swatch" style="background-color: #1c3e57;"></span>
        <span class="sf-label">
          $slate
          <br>
          <code>#1c3e57</code>
        </span>
      </li>
    
  
    
    
      
    
      
    
      
        
      
    
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
        
      
    
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
        
      
    
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
        
      
    
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
        
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
        
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
        
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
        
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
        
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
        
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
        
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
        
      
    
      
    
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
    
      
        
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
    
      
        
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
    
      
        
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
    
      
        
      
    
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
    
      
    
      
        
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
    
      
    
      
        
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
    
      
    
      
        
      
    
    
  
    
    
      
    
      
    
      
    
      
    
      
    
      
    
      
        
      
    
    
  
</div>



