

<a class="sfgov-event-card" href="https://sf.gov">
  <div class="event-image" style="background-image:url(/images/event-image.png)"></div>
  <div class="event-info">
    <h5 class="title">Event title</h5>
    <p class="description">
      Event card description describes this event card.  Use a descriptive description.
    </p>
  </div>
</a>
<br/>
<a class="sfgov-event-card image" href="https://sf.gov">
  <div class="event-image">
    <img src="/images/event-image.jpg" alt="this is the alt text for the event image"/>
  </div>
  <div class="event-info">
    <h5 class="title">Event title</h5>
    <p class="description">
      Event card description describes this event card.  Use a descriptive description.
    </p>
  </div>
</a>
<br/>
<a class="sfgov-event-card date" href="https://sf.gov">
  <div class="event-date">
    <div class="month">February</div>
    <div class="date">2</div>
  </div>
  <div class="event-info">
    <h5 class="title">Event title</h5>
    <p class="description">
      Event card description describes this event card.  Use a descriptive description.
    </p>
  </div>
</a>

