

<form>
  <div class="form-group field-s08" data-id="billing_contact">
    <fieldset>
      <legend class="control-label">Who should we contact to pay application fees?</legend>
      <div class="field-wrapper">
        
          <label>
            <input type="radio" id="billing_contact-1" value="owner" data-formtype="s08" name="billing-contact" required="">
            <span class="inline-label">The owner</span>
          </label>
        
          <label>
            <input type="radio" id="billing_contact-2" value="contact" data-formtype="s08" name="billing-contact" required="">
            <span class="inline-label">The application contact</span>
          </label>
        
          <label>
            <input type="radio" id="billing_contact-3" value="other" data-formtype="s08" name="billing-contact" required="">
            <span class="inline-label">Someone else</span>
          </label>
        
        <div class="help-block with-errors"></div>
      </div>
    </fieldset>
  </div>
</form>

