

<form>
  <div class="form-group field-s08" data-id="billing_contact">
    <fieldset>
      <legend class="control-label">Who should we contact to pay application fees?</legend>
      <div class="field-wrapper">
          <label for="billing_contact_0">
            <input type="radio" id="billing_contact_0" value="The owner" data-formtype="s08" name="billing_contact" required="">
            <span class="inline-label">The owner</span>
          </label>
          <label for="billing_contact_1">
            <input type="radio" id="billing_contact_1" value="The application contact" data-formtype="s08" name="billing_contact" required="">
            <span class="inline-label">The application contact</span>
          </label>
          <label for="billing_contact_2">
            <input type="radio" id="billing_contact_2" value="Someone else" data-formtype="s08" name="billing_contact" required="">
            <span class="inline-label">Someone else</span>
          </label>
        <div class="help-block with-errors"></div>
      </div>
    </fieldset>
  </div>
</form>

