

<div class="sfgov-container-three-column">
    <div class="sfgov-container-item">
      <a class="sfgov-featured-item" href="#">
        <h5 class="title">Featured item 1</h5>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum purus odio, ut dictum justo scelerisque ac. Quisque vitae nisl lectus. Morbi semper ante purus, eget porta magna eleifend at.
        </p>
      </a>    </div>
    <div class="sfgov-container-item">
      <a class="sfgov-featured-item" href="#">
        <h5 class="title">Featured item 2</h5>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum purus odio, ut dictum justo scelerisque ac.
        </p>
      </a>    </div>
    <div class="sfgov-container-item">
      <a class="sfgov-featured-item" href="#">
        <h5 class="title">Featured item 3</h5>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </a>    </div>
    <div class="sfgov-container-item">
      <a class="sfgov-featured-item" href="#">
        <h5 class="title">Featured item 4</h5>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </a>    </div>
    <div class="sfgov-container-item">
      <a class="sfgov-featured-item" href="#">
        <h5 class="title">Featured item 5</h5>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum purus odio, ut dictum justo scelerisque ac. Quisque vitae nisl lectus. Morbi semper ante purus, eget porta magna eleifend at.
        </p>
      </a>    </div>
    <div class="sfgov-container-item">
      <a class="sfgov-featured-item" href="#">
        <h5 class="title">Featured item 6</h5>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum purus odio, ut dictum justo scelerisque ac.
        </p>
      </a>    </div>
    <div class="sfgov-container-item last ">
      <a class="sfgov-featured-item" href="#">
        <h5 class="title">Featured item 7</h5>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum purus odio, ut dictum justo scelerisque ac. Quisque vitae nisl lectus.
        </p>
      </a>    </div>
</div> 
