// This stylesheet is for styles you want to include only when displaying demo
// styles for grids, animations, color swatches, etc.
// These styles will not be your production CSS.

#sg-patterns {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  max-width: 100%;
  margin: 1em;
}

.demo-animate {
  background: #ddd;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}


.sg-colors {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}


.sg-colors li {
  width: 100%;
  border: 1px solid rgba(#000,0.2);
  box-shadow: 0 1px 2px rgba(#000,0.1);
  list-style: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 1% 5%;
  @media screen and (min-width: 30rem) {
    width: 48%;
    margin-bottom: 2%;
  }
  @media screen and (min-width: 45rem) {
    width: 31%;
  }
  @media screen and (min-width: 60rem) {
    width: 23%;
  }
}

.sg-swatch {
  display: block;
  height: 4em;
  box-shadow: inset 0 -1px 0 rgba(#000,0.1);
}

.sg-label {
  font-size: 90%;
  line-height: 1;
  padding: 1em;
  display: block;
}

.transaction-card {
  margin-bottom: 1.5em;
}
