$btn-small-width:   4.5rem;
$btn-medium-width:  8.5rem;
$btn-big-width:     11.6rem;

// Extra specificity to override rules set in reset.css.
input[type=search] { /* stylelint-disable-line selector-no-qualifying-type */
  box-sizing: border-box;
  appearance: none;
}

[type=search] {
  @include padding(0 null);
  border-bottom-right-radius: 0;
  border-right: none;
  border-top-right-radius: 0;
  box-sizing: border-box;
  float: left;
  font-size: $small-font-size;
  height: 3.3rem;
  margin: 0;
  width: calc(100% - #{$btn-small-width});

  @include media($small-screen) {
    width: calc(100% - #{$btn-medium-width});
  }
}