<div class="button_wrapper">
  <button class="sfgov-button">Primary</button>
  <button class="sfgov-button" disabled>Primary Disabled</button>
  <style scoped>
    .dark-bg {
      background-color: #212121;
    }
  </style>
</div>

<div class="button_wrapper">
  <button class="sfgov-button-secondary">Secondary</button>
  <button class="sfgov-button-secondary" disabled>Secondary Disabled</button>
  <style scoped>
    .dark-bg {
      background-color: #212121;
    }
  </style>
</div>

<div class="button_wrapper">
  <div class="dark-bg">
    <button class="sfgov-button-secondary-inverse">Secondary Dark</button>
    <button class="sfgov-button-secondary-inverse" disabled>Secondary Disabled</button>
  </div>
  <style scoped>
    .dark-bg {
      background-color: #212121;
    }
  </style>
</div>

<div class="sfgov-cta-button__container">
  <a href="#">CTA button</a>
</div>
