@import './public/css/core/variables';
@import './public/css/core/mixins';

// we can place the styles in straight in the folder where the component belongs.

h1,h2,h3,summary {
  color: $color-gray-dark;
  @include source-sans-pro;
}


h1 {
  font-size: 3rem;
  line-height: 3.9rem;
  @include sfgov-h1;
  @include media($medium-screen + 1) {
    font-size: 4rem;
    line-height: 5.2rem;
  }
}

h2 {
  @include merriweather;
  font-weight: bold;
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

.sfgov-header-section {
  color: #FFFFFF;
  background: #205493;
  padding: 21px 25px;
  &.no-margin {
    margin: 0;
  }
  &.big-padding {
    @include media($narrow-screen) {
      padding: 16px 0 15px 31px;
    }
  }
}

