@import './public/css/core/variables';
@import './public/css/core/mixins';

  .document-file--container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    @include media($medium-screen) {
      min-width: 183px;
      margin-bottom: 0;
    };
    .document{
      line-height: 30px;
      margin-left: 10px;
      color: $color-gray;
    };
  }




