@import './public/css/core/variables';
@import './public/css/core/mixins';

.sfgov-footer-navigation {
  @include media($narrow-screen) {
    width: 949px;
    margin: 0 auto;
    padding: 0;
  }
  ul {
    @include media-max($medium-screen - 1) {
      &::after,
      &::before {
        content: '';
        display: table;
        clear: both;
      }
    }
    padding: 0;
    margin: 0;
    li {
      @include media-max($medium-screen - 1) {
        border-top: 1px solid $color-gray-dark;
        border-bottom: 0;
        &:last-child {
          border-bottom: 1px solid $color-gray-dark;
        }
      }
      @include media($medium-screen) {
        display: inline-block;
        &:first-child {
          padding-left: 0;
        }
      }
      @media screen and (min-width: $medium-screen + 1) and (max-width: $narrow-screen) {
        &:first-child {
          padding-left: 17px;
        }
      }
      padding: 15px 40px 15px 15px;
      margin-bottom: 0;
      a {
        @include source-sans-pro;
        font-size: 17px;
        color: $color-white;
        line-height: 22px;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
