<nav class="sfgov-main-navigation">

  {# Drupal item to be provided #}
  {# simplified Drupal menu. #}
  {# currently doesn't support recursive nesting #}

  {% if items %}
    <ul class="menu">
      {% for item in items %}
        <li{{ item.attributes.addClass(classes) }}>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

</nav>
