<nav class="{% block class %}sfgov-footer-navigation{% endblock %}">
  {% if items %}
    <ul class="menu">
      {% for item in items %}
        <li{{ item.attributes.addClass(classes) }}>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</nav>


