.sfgov-event-card {
  @include rubik;
  background: $green-3;
  border: 0;
  border-radius: 8px;
  color: $white;
  display: block;
  padding: $rhythm * 2;
  text-decoration: none;
  
  .title {
    @include h5;
    color: $white;
    margin: 0 0 $rhythm 0;
  }
  .description {
    @include body-short;
    color: $white;
    margin: 0;
  }
  &.image,
  &.date {
    padding: 0;
    position: relative;
    .event-image,
    .event-date {
      border-radius: $radius $radius 0 0;
      text-align: center;
      img {
        display: none;
      }
      @media screen and (min-width: $mq-narrow) {
        padding-top: 0;
        height: px-to-rem(160);
        overflow: hidden;
        img {
          display: block;
          border-radius: $radius $radius 0 0;
          width: 100%;
        }
      }
    }
    .event-date {
      color: $slate;
      background: $green-2;
      opacity: 0.65;
      display: none;
      @media screen and (min-width: $mq-narrow) {
        display: block;
        padding-top: px-to-rem(26);
      }
      .month {
        @include font-size-to-rem(32);
        @include line-height-to-rem(38);
      }
      .date {
        @include font-size-to-rem(64);
        @include line-height-to-rem(76);
      }
    }
    .event-info {
      padding: $rhythm * 2;
    }
  }
}
