@import './public/css/core/variables';
@import './public/css/core/mixins';

.branding-link {
  text-decoration: none;
  color: $color-black-light;
}

.sfgov-logo__container {
  @include media($narrow-screen) {
    padding: 12px 0;
  }
  .sfgov-logo {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: stretch;
    margin-top: 3px;
    @include media($narrow-screen) {
      margin-top: 0;
    }
    .sfgov-logo__image {
      min-width: 45px;
      display: flex;
      align-content: center;
      img {
        max-width: 45px;
      }
      @include media-max($narrow-screen) {
        min-width: 40px;
        img {
          max-width: 40px;
        }
      }
    }
    .sfgov-logo__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 8px;
      min-width: 120px;
      @include media($narrow-screen) {
        position: relative;
      }
      position: relative;
      .sfgov-logo__text--pre-title {
        font-family: "Helvetica", sans-serif;
        font-size: 10px;
        line-height: 12px;
        color: $color-black-light;
      }
      .sfgov-logo__text--title {
        @include merriweather;
        font-size: 20px;
        font-weight: bold;
        line-height: 26px;
        text-decoration: none;
        color: $color-black-light;
      }
    }
  }
}



