// Every variable is declared as !default so that it can be
// overridden by a previous import.
//

// Typography
// Removing the !default from $em-base so we are not inheriting that
// value from Bourbon.
$em-base:             10px;
$base-font-size:      1.7rem !default;
$small-font-size:     1.4rem !default;
$lead-font-size:      2rem !default;
$title-font-size:     5.2rem !default;
$h1-font-size:        4rem !default;
$h2-font-size:        3rem !default;
$h3-font-size:        2rem !default;
$h4-font-size:        1.7rem !default;
$h5-font-size:        1.5rem !default;
$h6-font-size:        1.3rem !default;
$base-line-height:    1.5 !default;
$heading-line-height: 1.3 !default;
$lead-line-height:    1.7 !default;

$helvetica: 'Helvetica', sans-serif;
$georgia: 'Georgia', sans-serif;
$image-path: '/images';

$font-sans:           'Source Sans Pro', $helvetica !default;
$font-serif:          'Merriweather', $georgia !default;

// TODO these should be called font-weight-${}
$font-normal:         400 !default;
$font-bold:           700 !default;

// Color
$color-blue:                 #0071bc !default;
$color-blue-darker:          #205493 !default;
$color-blue-darkest:         #112e51 !default;

$color-aqua:                 #02c0e7 !default;
$color-aqua-dark:            #00a6d2 !default;
$color-aqua-darkest:         #046b99 !default;
$color-aqua-light:           #9bdaf1 !default;
$color-aqua-lightest:        #e1f3f8 !default;

$color-red:            #e31c3d !default;
$color-red-dark:       #cd2026 !default;
$color-red-darkest:    #981b1e !default;
$color-red-light:      #e59393 !default;
$color-red-lightest:   #f9dede !default;

$color-white:                #ffffff !default;
$color-black:                #000000 !default;
$color-black-light:          #212121 !default;

$color-gold:                 #fdb81e !default;
$color-gold-lightest:        #fff1d2 !default;

$color-gray-dark:            #323a45 !default;
$color-gray:                 #5b616b !default;
$color-gray-medium:          #757575 !default;
$color-gray-light:           #aeb0b5 !default;
$color-gray-lighter:         #d6d7d9 !default;
$color-gray-lightest:        #f1f1f1 !default;

$color-green:                #2e8540 !default;
$color-green-light:          #4aa564 !default;
$color-green-lighter:        #94bfa2 !default;
$color-green-lightest:       #e7f4e4 !default;

$color-purple:               #4c2c92 !default;

// Functional colors
$color-primary:              $color-blue !default;
$color-primary-darker:       $color-blue-darker !default;
$color-primary-darkest:      $color-blue-darkest !default;

$color-primary-alt:          $color-aqua !default;
$color-primary-alt-dark:     $color-aqua-dark !default;
$color-primary-alt-darkest:  $color-aqua-darkest !default;
$color-primary-alt-light:    $color-aqua-light !default;
$color-primary-alt-lightest: $color-aqua-lightest !default;

$color-secondary:            $color-red !default;
$color-secondary-dark:       $color-red-dark !default;
$color-secondary-darkest:    $color-red-darkest !default;
$color-secondary-light:      $color-red-light !default;
$color-secondary-lightest:   $color-red-lightest !default;

$color-base:                 $color-black-light !default;
$color-focus:                $color-gray-light !default;
$color-visited:              $color-purple !default;

$color-shadow:               rgba(#000, 0.3) !default;
$color-transparent:          rgba(#000, 0) !default;

// Breakpoints
$tiny-screen: 320px;
$mobile-screen: 480px;
$small-screen:  481px !default;
$medium-screen: 600px !default;
$medium-screen: 769px;
$narrow-screen: 950px;
$large-screen:  1201px !default;
$wide-screen: 1220px;

// Grid column counts by screen size
$grid-columns-small: 1 !default;
$grid-columns-medium: 6 !default;
$grid-columns-large: 12 !default;

// @media single-keyword helpers
$small: new-breakpoint(min-width $small-screen $grid-columns-small) !default;
$medium: new-breakpoint(min-width $medium-screen $grid-columns-medium) !default;
$large: new-breakpoint(min-width $large-screen $grid-columns-large) !default;

// Set $asset-pipeline to true if you're using the Rails Asset Pipeline
$asset-pipeline:      false !default;

// Magic Numbers
$text-max-width:                66ch !default; // 66 characters per line
$lead-max-width:                77rem !default;
$site-max-width:                1040px !default;
$site-margins:                  3rem !default;
$site-margins-mobile:           1.5rem !default;
$input-max-width:               46rem !default;
$label-border-radius:           2px !default;
$checkbox-border-radius:        2px !default;
$border-radius:                 3px !default;
$button-border-radius:          5px !default;
$button-stroke: inset 0 0 0 2px;
$focus-outline:                 2px dotted $color-gray-light !default;
$focus-spacing:                 3px !default;
$nav-width:                     951px !default;
$sidenav-current-border-width:  0.4rem !default; // must be in rem for math

// 44 x 44 pixels hit target following Apple iOS Human Interface
// Guidelines
$hit-area: 4.4rem !default;

$spacing-x-small: 0.5rem;
$spacing-small: 1rem;
$spacing-md-small: 1.5rem;
$spacing-medium: 2rem;
$spacing-large: 3rem;
