@import "../../01-atoms/01-colors/01-colors";
@import "../../00-protons/01-grid";

.person-container {
  margin-bottom: 40px;
  &.person-hero {
    .person-photo {
      background-size: cover;
      background-position: top center;
      background-color: #333;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 40px;
      width: 150px;
      height: 150px;
      overflow: hidden;
      img {
        max-width: 1px;
        max-height: 1px;
        position: relative;
        left: -999px;
      }
    }
    .person-bio {
      display: inline-block;
      width: auto;
      text-align: left;
      .person-name {
        font-size: 2rem;
        font-family: "Merriweather","Georgia",sans-serif;
        font-weight: bold;
        a {
          text-decoration: none;
          color: $color-primary;
          > * {
            display: inline-block;
            text-decoration: none;
          }
        }
      }
      .person-title {
        color: $color-gray;
        font-weight: 600;
      }
      .person-subtitle {
        color: $color-gray;
        font-weight: normal;
      }
    }
    @include media-max($medium-screen) {
      margin-bottom: 20px; 
      .person-photo {
        display: block;
        margin: 10px auto;
      }
      .person-bio {
        display: block;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}