@import './public/css/core/variables';
@import './public/css/core/mixins';

.transaction-card--link {
  text-decoration: none;
  .transaction-card {
    &:hover {
      background-color: $color-primary;
      .transaction-card__title {
        color: $color-white;
      }
      .transaction-card__body {
        color: $color-white;
      }
    }  
  }
}

div.transaction-card {
  background-color: $color-gray-lightest;
  padding: 20px 18px 20px;
  .transaction-card__title {
    margin-top: 0;
  }
  .transaction-card__body {
    color: $color-gray;
    line-height: 26px;
  }
}
