@import './public/css/core/variables';
@import './public/css/core/mixins';

.sfgov-container--a-z {
  padding-bottom: 40px;
  &.sfgov-container--full {
    padding-bottom: 40px;
    @include media($narrow-screen) {
      padding-bottom: 80px;
    }
  }
  h3:first-of-type {
    margin-top: 0;
    @include media($narrow-screen) {
      margin-top: 50px;
    }
  }
  h3 {
    background-color: $color-primary-darker;
    color: $color-white;
    font-size: 30px;
    line-height: 39px;
    display: block;
    padding: 14px 21px 17px 14px;
    margin-top: 60px;
    @include media-max($narrow-screen) {
      font-size: 24px;
    }
  }
  .views-row {
    margin: 21px 0 14px 21px;
    a {
      color: $color-primary-darker;
      font-size: 17px;
      line-height: 26px;
    }
  }
}
