@import './public/css/core/variables';
@import './public/css/core/mixins';

.person-container.person-hero {
  margin-bottom: 40px;
  .person-photo {
    margin-right: 40px;
    width: 150px;
    height: 150px;
  }
  .person-bio {
    width: auto;
    .person-name {
      font-size: 2rem;
      font-family: "Merriweather","Georgia",sans-serif;
      font-weight: bold;
      a, a > * {
        text-decoration: none;
      }
    }
  }
  @include media-max($medium-screen) {
    margin-bottom: 20px; 
    .person-photo {
      display: block;
      margin: 10px auto;
    }
  }
}