@import './public/css/core/variables';
@import './public/css/core/mixins';

.sfgov-footer__container {
  .sfgov-footer__top {
    background: $color-gray;
  }
  .sfgov-footer__bottom {
    background: $color-gray-dark;
    padding: 22px 0 24.4px 0;
    .sfgov-container {
      display: flex;
      // flex-wrap: wrap;
      align-items: center;
    }
    .text {
      font-family: "Merriweather", sans-serif;
      color: $color-white;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      margin-left: 19px;
    }
    .logo {
      img {
        fill: $color-white;
      }
    }
  }
}
