@font-face { // rubikblack
  font-family: 'rubik';
  src: url('../fonts/rubik/rubik-black-webfont.woff2') format('woff2'),
       url('../fonts/rubik/rubik-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face { // rubikblack_italic
  font-family: 'rubik';
  src: url('../fonts/rubik/rubik-blackitalic-webfont.woff2') format('woff2'),
       url('../fonts/rubik/rubik-blackitalic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face { // rubikbold
  font-family: 'rubik';
  src: url('../fonts/rubik/rubik-bold-webfont.woff2') format('woff2'),
       url('../fonts/rubik/rubik-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face { // rubikbold_italic
  font-family: 'rubik';
  src: url('../fonts/rubik/rubik-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/rubik/rubik-bolditalic-webfont.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face { // rubiklight
  font-family: 'rubik';
  src: url('../fonts/rubik/rubik-light-webfont.woff2') format('woff2'),
       url('../fonts/rubik/rubik-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'rubik'; // rubiklightitalic
  src: url('../fonts/rubik/rubik-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/rubik/rubik-lightitalic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face { // rubikmedium
  font-family: 'rubik';
  src: url('../fonts/rubik/rubik-medium-webfont.woff2') format('woff2'),
       url('../fonts/rubik/rubik-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face { // rubikmedium_italic
  font-family: 'rubik';
  src: url('../fonts/rubik/rubik-mediumitalic-webfont.woff2') format('woff2'),
       url('../fonts/rubik/rubik-mediumitalic-webfont.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face { // rubikregular
  font-family: 'rubik';
  src: url('../fonts/rubik/rubik-regular-webfont.woff2') format('woff2'),
       url('../fonts/rubik/rubik-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'rubik';
  src: url('../fonts/rubik/rubik-regularitalic-webfont.woff2') format('woff2'),
       url('../fonts/rubik/rubik-regularitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@mixin rubik {
  font-family: rubik, sans-serif;
}

.rubik {
  @include rubik;
}

.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.black {
  font-weight: 900;
}
.italic {
  font-style: italic;
}