<header class="sfgov-banner">
  <div class="sfgov-banner__container sfgov-container">
    <h1>{{ title }}</h1>
    {% if text %}
      <h3 class="lead-paragraph">{{ text }}</h3>
    {% endif %}
  </div>
</header>
