

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/all.css">
    <link rel="stylesheet" href="../../css/pattern_scaffolding.css" media="all" />
    <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Rubik:300,400,500,700" />
    <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&amp;display=swap&amp;subset=chinese-traditional" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="sf-patterns">
      <form>
  <div class="form-group field-s06" data-id="will_the_work_involve">
    <fieldset>
      <legend class="control-label">Will the work involve any of the following?</legend>
      <div class="field-wrapper">
        
          <label>
            <input type="checkbox" value="foundation" data-formtype="s06" name="work_involves[]">
            <span class="inline-label">Repairing or replacing the building&#39;s foundation</span>
          </label>
        
          <label>
            <input type="checkbox" value="driveway" data-formtype="s06" name="work_involves[]">
            <span class="inline-label">Building a driveway or auto runway</span>
          </label>
        
          <label>
            <input type="checkbox" value="street-space" data-formtype="s06" name="work_involves[]">
            <span class="inline-label">Using street space</span>
          </label>
        
          <label>
            <input type="checkbox" value="facade" data-formtype="s06" name="work_involves[]">
            <span class="inline-label">Changing the front facade</span>
          </label>
        
          <label>
            <input type="checkbox" value="sidewalk" data-formtype="s06" name="work_involves[]">
            <span class="inline-label">Repairing or changing the sidewalk above a basement</span>
          </label>
        
        <div class="help-block with-errors"></div>
      </div>
    </fieldset>
  </div>
</form>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.1/validator.min.js"></script>
    <script src="../../js/all.js"></script>
  </body>
</html>

