

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/all.css">
    <link rel="stylesheet" href="../../css/pattern_scaffolding.css" media="all" />
    <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Rubik:300,400,500,700" />
    <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&amp;display=swap&amp;subset=chinese-traditional" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="sf-patterns">
      <ul class="sf-colors">
    <li>
      <span class="sf-swatch" style="background: #212123;"></span>
      <span class="sf-label">#212123<br/>$black</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #1c3e57;"></span>
      <span class="sf-label">#1c3e57<br/>$slate</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #0c1464;"></span>
      <span class="sf-label">#0c1464<br/>$dark-blue</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #4f66ee;"></span>
      <span class="sf-label">#4f66ee<br/>$bright-blue</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #a9d6ea;"></span>
      <span class="sf-label">#a9d6ea<br/>$blue-2</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #edf4f7;"></span>
      <span class="sf-label">#edf4f7<br/>$blue-1</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #1b674d;"></span>
      <span class="sf-label">#1b674d<br/>$green-4</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #00896d;"></span>
      <span class="sf-label">#00896d<br/>$green-3</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #c0e2c5;"></span>
      <span class="sf-label">#c0e2c5<br/>$green-2</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #e9f7ec;"></span>
      <span class="sf-label">#e9f7ec<br/>$green-1</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #bc4427;"></span>
      <span class="sf-label">#bc4427<br/>$red-4</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #c9563a;"></span>
      <span class="sf-label">#c9563a<br/>$red-3</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #efcabb;"></span>
      <span class="sf-label">#efcabb<br/>$red-2</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #f5e9e5;"></span>
      <span class="sf-label">#f5e9e5<br/>$red-1</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #5a3e94;"></span>
      <span class="sf-label">#5a3e94<br/>$purple-4</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #7d61b3;"></span>
      <span class="sf-label">#7d61b3<br/>$purple-3</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #cccced;"></span>
      <span class="sf-label">#cccced<br/>$purple-2</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #edebf6;"></span>
      <span class="sf-label">#edebf6<br/>$purple-1</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #e7b22e;"></span>
      <span class="sf-label">#e7b22e<br/>$yellow-4</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #f4c435;"></span>
      <span class="sf-label">#f4c435<br/>$yellow-3</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #f9e3a3;"></span>
      <span class="sf-label">#f9e3a3<br/>$yellow-2</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #f8f1df;"></span>
      <span class="sf-label">#f8f1df<br/>$yellow-1</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #d3d3d3;"></span>
      <span class="sf-label">#d3d3d3<br/>$grey-4</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #e9e9e9;"></span>
      <span class="sf-label">#e9e9e9<br/>$grey-3</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #f1f1f1;"></span>
      <span class="sf-label">#f1f1f1<br/>$grey-2</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #f8f8f8;"></span>
      <span class="sf-label">#f8f8f8<br/>$grey-1</span>
    </li>
    <li>
      <span class="sf-swatch" style="background: #ffffff;"></span>
      <span class="sf-label">#ffffff<br/>$white</span>
    </li>
</ul>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.1/validator.min.js"></script>
    <script src="../../js/all.js"></script>
  </body>
</html>

