

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/all.css">
    <link rel="stylesheet" href="../../css/pattern_scaffolding.css" media="all" />
    <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Rubik:300,400,500,700" />
    <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&amp;display=swap&amp;subset=chinese-traditional" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="sf-patterns">
      <form>
  <div class="form-group field-s02" data-id="">
    <label for="" class="control-label">Type of construction</label>
    <div class="field-wrapper">
      <select id="" data-formtype="s02" name="" required="">
        <option value="">Choose an option</option>
          <option value="0">I-A: Fire Resistive Non-Combustible</option>
          <option value="1">I-B: Fire Resistive Non-Combustible</option>
          <option value="2">II-A: Protected Non-Combustible</option>
          <option value="3">II-B: Unprotected Non-Combustible</option>
          <option value="4">III-A: Protected Combustible</option>
          <option value="5">III-B: Unprotected Combustible</option>
          <option value="6">IV: Heavy Timber</option>
          <option value="7">V-A: Protected Wood Frame</option>
          <option value="8">V-B: Unprotected Wood Frame</option>
      </select>
      <div class="help-block with-errors"></div>
    </div>
  </div>
</form>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.1/validator.min.js"></script>
    <script src="../../js/all.js"></script>
  </body>
</html>

