

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/all.css">
    <link rel="stylesheet" href="../../css/pattern_scaffolding.css" media="all" />
    <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Rubik:300,400,500,700" />
    <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&amp;display=swap&amp;subset=chinese-traditional" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="sf-patterns">
      <div class="sfgov-container-two-column">
    <div class="sfgov-container-item">
      <a class="sfgov-featured-item" href="#">
        <h5 class="title">Featured item 1</h5>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum purus odio, ut dictum justo scelerisque ac. Quisque vitae nisl lectus. Morbi semper ante purus, eget porta magna eleifend at.
        </p>
      </a>    </div>
    <div class="sfgov-container-item">
      <a class="sfgov-featured-item" href="#">
        <h5 class="title">Featured item 2</h5>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed interdum purus odio, ut dictum justo scelerisque ac.
        </p>
      </a>    </div>
    <div class="sfgov-container-item">
      <a class="sfgov-featured-item" href="#">
        <h5 class="title">Featured item 3</h5>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </a>    </div>
    <div class="sfgov-container-item last ">
      <a class="sfgov-featured-item" href="#">
        <h5 class="title">Featured item 4</h5>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </a>    </div>
</div> 
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.1/validator.min.js"></script>
    <script src="../../js/all.js"></script>
  </body>
</html>

