

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link media="all" rel="stylesheet" href="../../css/all.css">
    <link rel="stylesheet" href="../../css/pattern_scaffolding.css" media="all" />
    <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Rubik:300,400,500,700" />
    <link rel="stylesheet" media="all" href="//fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500,700&amp;display=swap&amp;subset=chinese-traditional" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Preview Layout</title>
  </head>
  <body>
    <div id="sf-patterns">
      <h1>Heading 1</h1>

<h2>Heading 2</h2>

<h3>Heading 3</h3>

<h4>Heading 4</h4>

<h5>Heading 5</h5>

<p class="display-1">Display 1</p>

<p class="title-5">Title 5</p>

<p class="big-description">Big description</p>

<p>Body short</p>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.1/validator.min.js"></script>
    <script src="../../js/all.js"></script>
  </body>
</html>

